body {
  background-color: #242424;
  color: whitesmoke;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.btn {
  color: whitesmoke;
}

.bi-x-lg {
  color: whitesmoke;
}

.row.content {
  height: 100%;
}

.sidenav {
  height: auto;
  text-align: left;
  border-right-style: solid;
}
